DATA ENGINEER - PYTHON

This test consits of twenty problems divided among six separated sections. You are required to write your code in cell below each problem and output the result in cell next to it

**Total Time**: 4 hours <br>
**Maximum Marks**: 150

**STACK CHOICE**<br>
You can choose to code in either of the two stacks below

**STACK A**: Python3

**NOTE 1**: You must code in Python3 <br>
**NOTE 2**: You should code in functional programming paradigm (lamda, map, reduce, filter etc). This is not mandatory, however, highly desired <br>
**NOTE 3**: You must keep path, paramaters & variables as dynamic (don't hardcode them) <br>
**NOTE 4**: You can use 'for loops' or any loop whatsoever, however, it would be desired if you can avoid them <br>
**NOTE 5**: You can remove code statements related to PySpark3, if happen to choose this stack for coding

**------------------------------------------------------------------------------ OR ------------------------------------------------------------------------------**

**STACK B**: PySpark3

**NOTE 1**: You must code in PySpark3 <br>
**NOTE 2**: You must code in functional programming paradigm (lamda, map, reduce, filter etc) <br>
**NOTE 3**: You must keep path, paramaters & variables as dynamic (don't hardcode them) <br>
**NOTE 4**: You strictly can't use 'for loops' or any loop whatsoever

Rename and Save the notebook as data-engineer-python_firstname-lastname (eg. data-engineer-python_sahil-gupta.ipynb)

Your FullName: Bhavani Shankar
Your Email: bhavanishankar.leadindia@gmail.com
Your Mobile No: 8465854161

********************************************* Test starts here **************************************************

**DATASETS**:

1. folder 'sales' *(consists of eight CSVs corresponding to sales database)*
2. orchestra.json
3. orchestra.xml
4. sms.txt

**INSTRUCTIONS**:

1. You are required to download and import datasets mentioned above
2. You would need to understand business involved behind sales database tables (eight). This is important!
3. Either your code should output something or leave the original comment "#pyspark3 code here" AS IT IS. We shall use 'Run All' in notebook and it shouldn't result an error
4. Test the entire notebook before uploading to Google Form provided
5. You can use any library in Python3/PySpark3 (untill unless prohibited to use for a paticular problem)
6. Output fieldname to be displayed are marked as single quotes ' ' in problem statement. You should use same field alias names whereever required
7. Notation for dataframe and/or array must be local to a problem's solution. Eg. Dataframe "test" for problem 8 should be df_prb8_test

In [1]:
#pyspark installation command - uncomment, install and comment back
#!pip install pyspark

In [2]:
#intall remaining required libraries - uncomment, install and comment back
#!pip install sklearn

In [3]:
import numpy as np
import pandas as pd
#import sklearn
#import remaining libraries here

In [4]:
#import pyspark
#from pyspark.context import SparkContext

In [5]:
#comment for first run
#sc.stop()

In [6]:
#you can modify configuration values
#conf = pyspark.SparkConf().setAppName("App")
#conf = (
#         conf.setMaster('local')
#        .set('spark.driver.memory', '8G')
#        .set('spark.driver.cores', '8')
#        .set('spark.python.worker.memory', '4G')
#        .set('spark.worker.cores', '2')
#        .set('spark.workerEnv.SPARK_WORKER_INSTANCES', '4')
#        .set('spark.executor.instances', '8')
#       )
#
#sc = pyspark.SparkContext(conf=conf)

In [7]:
#import CSVs (eight) here

calender = pd.read_csv(r"C:/Users/bhava/Desktop/BUSIGENCE/datasets/sales/calendar.csv")
order_returns = pd.read_csv(r"C:/Users/bhava/Desktop/BUSIGENCE/datasets/sales/order_returns.csv")
product_categories = pd.read_csv(r"C:/Users/bhava/Desktop/BUSIGENCE/datasets/sales/product_categories.csv")
product_subcategories = pd.read_csv(r"C:/Users/bhava/Desktop/BUSIGENCE/datasets/sales/product_subcategories.csv")
products=pd.read_csv(r"C:/Users/bhava/Desktop/BUSIGENCE/datasets/sales/products.csv")
sales = pd.read_csv(r"C:/Users/bhava/Desktop/BUSIGENCE/datasets/sales/sales.csv")
territories = pd.read_csv(r"C:/Users/bhava/Desktop/BUSIGENCE/datasets/sales/territories.csv")
customers = pd.read_excel(r"C:/Users/bhava/Desktop/BUSIGENCE/datasets/sales/customers.xlsx")

#import JSONs (one) here
orchestra = pd.read_json(r"C:/Users/bhava/Desktop/BUSIGENCE/datasets/orchestra.json")

#import XMLs (one) here
#import TXT (one) here

In [8]:
import warnings
warnings.filterwarnings("ignore")

**SCORING**:

This assessment is broadly divided into six sections A,B,C,D,E&F. All sections are mandatory

**Section A**: 30 marks <br>
**Section B**: 15 marks <br>
**Section C**: 15 marks <br>
**Section D**: 25 marks <br>
**Section E**: 15 marks <br>
**Section F**: 50 marks

************************************************ SECTION: A begins *******************************************

Refer & Use sales database tables (eight CSVs) to answer problem 1-5 below. <br> You cannot use any library that allows you to query pandas/pyspark DataFrames using SQL syntax. This means you would need to write code in python/pyspark, not SQL

**PROBLEM 1**: Fetch the product(s) - with product description consisting of "Universal fit, well-vented" and meet the condition c1

------
condition c1 - product had been ordered more than five times within a month "continously" over months

continously means "month after month" this condition c1 had been met

Eg. IF (in jan 2016 that particular product had been ordered more than five times, in feb 2016 too, in mar 2016 too, however, in apr 2016 this product had not been ordered more than five times, no matter again in may 2016 it had been again ordered more than five times) --- condition c1 stands failed

In [9]:
literal="Universal fit, well-vented"
df_prb1_products=pd.DataFrame(products)
df_prb1_literal=df_prb1_products[df_prb1_products['ProductDescription'].apply(lambda x:True if literal in x else False)]
df_prb1_keys=list(df_prb1_literal.ProductKey)
df_prb1_allkeys = sales[sales.ProductKey.apply(lambda x: True if x in df_prb1_keys else False)]
df_prb1_allkeys.OrderDate=pd.to_datetime(df_prb1_allkeys.OrderDate)
df_prb1_214= df_prb1_allkeys[df_prb1_allkeys.ProductKey==df_prb1_keys[0]]
df_prb1_215= df_prb1_allkeys[df_prb1_allkeys.ProductKey==df_prb1_keys[1]]
df_prb1_220= df_prb1_allkeys[df_prb1_allkeys.ProductKey==df_prb1_keys[2]]

df_prb1_214= df_prb1_214.sort_values(by= 'OrderDate')
df_prb1_215= df_prb1_215.sort_values(by= 'OrderDate')
df_prb1_220= df_prb1_220.sort_values(by= 'OrderDate')

df_prb1_214_years=list(set(df_prb1_214['OrderDate'].dt.year))
df_prb1_215_years=list(set(df_prb1_215['OrderDate'].dt.year))
df_prb1_220_years=list(set(df_prb1_220['OrderDate'].dt.year))

if (df_prb1_214[df_prb1_214['OrderDate'].dt.year==df_prb1_214_years[0]]['OrderDate'].dt.month.value_counts()>5).all() and (df_prb1_214[df_prb1_214['OrderDate'].dt.year==df_prb1_214_years[1]]['OrderDate'].dt.month.value_counts()>5).all() == True:
    print(df_prb1_214)
if (df_prb1_215[df_prb1_215['OrderDate'].dt.year==df_prb1_215_years[0]]['OrderDate'].dt.month.value_counts()>5).all() and (df_prb1_215[df_prb1_215['OrderDate'].dt.year==df_prb1_215_years[1]]['OrderDate'].dt.month.value_counts()>5).all() == True:
    print(df_prb1_215)
if (df_prb1_220[df_prb1_220['OrderDate'].dt.year==df_prb1_220_years[0]]['OrderDate'].dt.month.value_counts()>5).all() and (df_prb1_220[df_prb1_220['OrderDate'].dt.year==df_prb1_220_years[1]]['OrderDate'].dt.month.value_counts()>5).all() == True:
    print(df_prb1_220)

       OrderDate  StockDate OrderNumber  ProductKey  CustomerKey
4349  2016-07-01  4/25/2003     SO51180         214        16313  \
4357  2016-07-01   3/8/2003     SO51181         214        12132
4383  2016-07-02  6/11/2003     SO51191         214        12390
4400  2016-07-02   3/4/2003     SO51192         214        11241
4430  2016-07-03  3/20/2003     SO51207         214        11338
...          ...        ...         ...         ...          ...
55744 2017-06-29  4/16/2004     SO74083         214        22238
55742 2017-06-29  3/15/2004     SO74087         214        26983
55739 2017-06-29   4/9/2004     SO74069         214        22748
55781 2017-06-29   4/9/2004     SO74063         214        18827
56009 2017-06-30   6/4/2004     SO74110         214        24727

       TerritoryKey  OrderLineItem  OrderQuantity
4349              8              4              1
4357              7              4              1
4383              8              4              1
4400              7              2              1
4430              8              4              1
...             ...            ...            ...
55744             1              2              1
55742             8              2              1
55739             6              3              1
55781             1              2              1
56009             1              3              1

[2099 rows x 8 columns]
       OrderDate  StockDate OrderNumber  ProductKey  CustomerKey
4346  2016-07-01   3/4/2003     SO51177         215        27873  \
4372  2016-07-02  3/10/2003     SO51194         215        11089
4406  2016-07-02   3/9/2003     SO51189         215        16688
4439  2016-07-03  3/12/2003     SO51219         215        25086
4445  2016-07-03  4/11/2003     SO51209         215        13059
...          ...        ...         ...         ...          ...
55777 2017-06-29  4/10/2004     SO74037         215        13515
55960 2017-06-30   5/7/2004     SO74135         215        28368
56001 2017-06-30   4/1/2004     SO74134         215        20051
55920 2017-06-30  6/14/2004     SO74136         215        14055
56038 2017-06-30  4/11/2004     SO74105         215        20223

       TerritoryKey  OrderLineItem  OrderQuantity
4346              9              2              1
4372              4              3              1
4406              9              2              1
4439              4              5              1
4445              4              3              1
...             ...            ...            ...
55777             8              4              1
55960             7              4              1
56001             8              2              1
55920             9              3              1
56038             9              3              1

[1940 rows x 8 columns]
       OrderDate  StockDate OrderNumber  ProductKey  CustomerKey
4368  2016-07-01  3/15/2003     SO51184         220        11263  \
4376  2016-07-02  4/28/2003     SO51196         220        18906
4392  2016-07-02  4/20/2003     SO51201         220        27820
4414  2016-07-03  3/25/2003     SO51205         220        11240
4421  2016-07-03   5/2/2003     SO51208         220        23234
...          ...        ...         ...         ...          ...
55988 2017-06-30  4/24/2004     SO74144         220        12314
55936 2017-06-30  4/21/2004     SO74106         220        16250
55934 2017-06-30   3/2/2004     SO74107         220        13570
55946 2017-06-30  3/25/2004     SO74138         220        26303
56013 2017-06-30  5/13/2004     SO74125         220        11717

       TerritoryKey  OrderLineItem  OrderQuantity
4368              1              4              1
4376              9              4              1
4392             10              2              1
4414             10              4              1
4421              8              2              1
...             ...            ...            ...
55988             8              2              1
55936            10              2              1
55934             8              4              1
55946             4              2              1
56013             1              4              1

[1995 rows x 8 columns]

**PROBLEM 2**: Fetch total orders made by married male customers belonging to Central America occupied in a clerical job

In [10]:
df_central=sales[sales.TerritoryKey ==int(territories[territories.Region=="Central"].SalesTerritoryKey)]
cx=customers[customers['Gender']=='M']
cx=cx[cx['MaritalStatus'] == "M"]
cx=cx[cx["Occupation"] == "Clerical"]
orders=df_central[df_central.CustomerKey.apply( lambda x: x in list(cx.CustomerKey))]
print(len(orders))

0

**PROBLEM 3**: List customers who ordered same product more than once in a month

In [11]:
sales.OrderDate=pd.to_datetime(sales.OrderDate)
df_prb3_years=list(set(sales['OrderDate'].dt.year))
df_prb3_2016=sales[sales['OrderDate'].dt.year==df_prb3_years[0]]
df_prb3_2016['Month']=df_prb3_2016['OrderDate'].dt.month
df_prb3_features = df_prb3_2016[['ProductKey','Month','OrderQuantity','CustomerKey']]
df_prb3_bool= df_prb3_features.groupby(['CustomerKey','ProductKey','Month']).sum() > 1
df_prb3_loyalCustomers=list(set(df_prb3_bool[df_prb3_bool['OrderQuantity']==True].index.get_level_values(0)))
df_prb3_names= customers[customers.CustomerKey.apply(lambda x:x in df_prb3_loyalCustomers)][['Prefix','FirstName','LastName']]
df_prb3_names

      Prefix   FirstName  LastName
0        MR.         JON      YANG
1        MR.      EUGENE     HUANG
3        MS.     CHRISTY       ZHU
4       MRS.   ELIZABETH   JOHNSON
5        MR.       JULIO      RUIZ
...      ...         ...       ...
18115    MR.    GEOFFREY     LOPEZ
18132   MRS.  JACQUELINE    MORRIS
18133   MRS.   DOMINIQUE  SAUNDERS
18141    MR.        NEIL      RUIZ
18142    MR.      DARREN   CARLSON

[5935 rows x 3 columns]

**PROBLEM 4**: Supose Today is May 23, 2016. Display month-to-date count of returned orders <br>
NOTE: Month-to-date is a period starting at the beginning of the current month and ending at the current date. If today's date is May 23, 2016, then month-to-date shall be period between inclusive of May 01,2016 and May 23,2016

In [12]:
df_prb4_rawdates=pd.DataFrame(order_returns['ReturnDate'])
df_prb4_rawdates['month-to-date count']=pd.to_datetime(order_returns['ReturnDate']).apply(lambda x:x.day)
df_prb4_rawdates.drop_duplicates()

     ReturnDate  month-to-date count
0     1/18/2015                   18
2     1/21/2015                   21
3     1/22/2015                   22
4      2/2/2015                    2
5     2/15/2015                   15
...         ...                  ...
1781  6/26/2017                   26
1785  6/27/2017                   27
1788  6/28/2017                   28
1798  6/29/2017                   29
1804  6/30/2017                   30

[476 rows x 2 columns]

**PROBLEM 5**: Fetch the top selling model and it's sale value, for each subcategory

In [13]:
df_prb5_subkeys=product_subcategories[["ProductSubcategoryKey","SubcategoryName"]].set_index("ProductSubcategoryKey")
top_Qty=sales #[sales['OrderQuantity'].apply(lambda x:x==sales.OrderQuantity.max())]
df_prb5_priced=products[products.ProductKey.apply(lambda x:x in list(set(top_Qty.ProductKey)))][["ProductPrice","ProductSubcategoryKey"]].sort_values(by="ProductSubcategoryKey").reset_index(drop=True)
df_prb5_priced=df_prb5_priced.groupby("ProductSubcategoryKey").max()
df_prb5_priced["subCat"]=df_prb5_priced.index.map(lambda x: df_prb5_subkeys.to_dict()['SubcategoryName'][x])
df_prb5_priced

                       ProductPrice             subCat
ProductSubcategoryKey
1                         3399.9900     Mountain Bikes
2                         3578.2700         Road Bikes
3                         2384.0700      Touring Bikes
19                           8.6442               Caps
20                          23.5481             Gloves
21                          53.9900            Jerseys
22                          69.9900             Shorts
23                           8.9900              Socks
25                          63.5000              Vests
26                         120.0000         Bike Racks
27                         159.0000        Bike Stands
28                           9.9900  Bottles and Cages
29                           7.9500           Cleaners
30                          21.9800            Fenders
31                          34.9900            Helmets
32                          54.9900    Hydration Packs
37                          35.0000    Tires and Tubes

************************************************ SECTION: A ends *******************************************

Refer & Use Orchestra.json to answer problem 6-8 below

************************************************ SECTION: B starts *******************************************

**PROBLEM 6**: Display the instrument played by Lehmann Caroline

In [34]:
import json

file_path=r"C:\Users\bhava\Desktop\BUSIGENCE\datasets\orchestra.json"
# Load JSON data
with open(file_path, 'r',encoding='utf-8') as file:
    data = json.load(file)
# Extract the instrument played by Lehmann Caroline
instrument_played = None
for work in data['programs'][0]['works']:
    for soloist in work.get('soloists', []):
        if soloist['soloistName'] == 'Lehmann, Caroline':
            instrument_played = soloist.get('soloistInstrument', None)
            break

# Display the result
if instrument_played:
    print(f"Instrument played by Lehmann Caroline: {instrument_played}")
else:
    print("Lehmann Caroline does not appear as a soloist.")

Lehmann Caroline does not appear as a soloist.

**PROBLEM 7**: Display all vocalists

In [35]:
vocalists = set()
for work in data['programs'][0]['works']:
    for soloist in work.get('soloists', []):
        if soloist['soloistRoles'] == 'S':
            vocalists.add(soloist['soloistName'])

# Display the result
if vocalists:
    print("All Vocalists:")
    for vocalist in vocalists:
        print(vocalist)
else:
    print("No vocalists found.")

All Vocalists:
Horn, Charles Edward
Otto, Antoinette

**PROBLEM 8**: Display orchestra played under program id 2561

In [36]:
# Specify the program ID to filter
target_program_id = "2561"

# Find the program with the specified program ID
target_program = None
for program in data['programs']:
    if program['programID'] == target_program_id:
        target_program = program
        break

# Display the orchestra played under the specified program ID
if target_program:
    orchestra = target_program.get('orchestra', None)
    if orchestra:
        print(f"Orchestra played under Program ID {target_program_id}: {orchestra}")
    else:
        print(f"No orchestra information found for Program ID {target_program_id}.")
else:
    print(f"No program found with Program ID {target_program_id}.")

Orchestra played under Program ID 2561: New York Philharmonic

************************************************ SECTION: B ends *******************************************

Refer & Use Orchestra.xml to answer problem 9-10 below

************************************************ SECTION: C starts *******************************************

**PROBLEM 9**: Display locations used for event at time 8:15 PM

In [17]:
#python3/pyspark3 code here

**PROBLEM 10**: Display total number of programs

In [18]:
#python3/pyspark3 code here

************************************************ SECTION: C ends *******************************************

Refer sales database tables (eight CSVs from section A) and sms.txt

************************************************ SECTION: D starts *******************************************

**PROBLEM 11**: Study article https://en.wikipedia.org/wiki/Davies–Bouldin_index

Write code to create five unsupervised clusters for customers (table: customers), followed by calculating Davies–Bouldin index for each created cluster (you can't use in-built library for Davies–Bouldin index)

In [19]:
#python3/pyspark3 code here

In [20]:
customers.columns

Index(['CustomerKey', 'Prefix', 'FirstName', 'LastName', 'BirthDate',
       'MaritalStatus', 'Gender', 'AnnualIncome', 'TotalChildren',
       'EducationLevel', 'Occupation', 'HomeOwner'],
      dtype='object')

In [21]:
products.columns

Index(['ProductKey', 'ProductSubcategoryKey', 'ProductSKU', 'ProductName',
       'ModelName', 'ProductDescription', 'ProductColor', 'ProductSize',
       'ProductStyle', 'ProductCost', 'ProductPrice'],
      dtype='object')

In [22]:
sales.columns

Index(['OrderDate', 'StockDate', 'OrderNumber', 'ProductKey', 'CustomerKey',
       'TerritoryKey', 'OrderLineItem', 'OrderQuantity'],
      dtype='object')

**PROBLEM 12**: Prepare dataset (train-60%,validate-20%,test-20%) with customers, customers attributes and sales value (for orders placed by these customers). Use PySpark MLLib to develop a regression model to predict sales value for new customers (test-20%)

**PROBLEM 13**: Fetch count of stop-words for ham & spam (compute count of stop-words for each record on worker nodes and aggregate for count ham & spam on driver node)

---
Stopwords are the words in any language which does not add much meaning to a sentence. They can safely be ignored without sacrificing the meaning of the sentence

In [23]:
#python3/pyspark3 code here

************************************************ SECTION: D ends *******************************************

************************************************ SECTION: E starts *******************************************

Review JSON snippet below

In [24]:
[
  {
    "payee": {
      "type": {
        "location": [
          {
            "country": "usa",
            "code": "1"
          }
        ]
      }
    }
  },
  {
    "payee": {
      "type": {
        "location": [
          {
            "country": "india",
            "code": "2"
          }
        ]
      }
    }
  }
]

[{'payee': {'type': {'location': [{'country': 'usa', 'code': '1'}]}}},
 {'payee': {'type': {'location': [{'country': 'india', 'code': '2'}]}}}]

**PROBLEM 14**: Write a code to fetch value for field "code" for india

In [25]:
json_data=[{'payee': {'type': {'location': [{'country': 'usa', 'code': '1'}]}}},
 {'payee': {'type': {'location': [{'country': 'india', 'code': '2'}]}}}]
for item in json_data:
    if "payee" in item and "type" in item["payee"] and "location" in item["payee"]["type"]:
        for location in item["payee"]["type"]["location"]:
            if "country" in location and location["country"].lower() == "india":
                code_for_india = location.get("code")
                print(f'The "code" for India is: {code_for_india}')

The "code" for India is: 2

Review JSON snippet below

In [26]:
[
  {
    "sequence": 1,
    "careTeamSequence": [
      1
    ],
    "productOrService": {
      "coding": [
        {
          "system": "http://example.org/fhir/CodeSystem/ex-visionservice",
          "code": "exam"
        }
      ]
    },
    "servicedDate": "2014-08-16",
    "unitPrice": {
      "value": 80,
      "currency": "USD"
    },
    "net": {
      "value": 80,
      "currency": "USD"
    }
  }
]

[{'sequence': 1,
  'careTeamSequence': [1],
  'productOrService': {'coding': [{'system': 'http://example.org/fhir/CodeSystem/ex-visionservice',
     'code': 'exam'}]},
  'servicedDate': '2014-08-16',
  'unitPrice': {'value': 80, 'currency': 'USD'},
  'net': {'value': 80, 'currency': 'USD'}}]

**PROBLEM 15**: Write a code to update value (to a new value: 85) for field "unitPrice" for serviceDate 2014-08-16

In [27]:
json_data=[{'sequence': 1,
  'careTeamSequence': [1],
  'productOrService': {'coding': [{'system': 'http://example.org/fhir/CodeSystem/ex-visionservice',
     'code': 'exam'}]},
  'servicedDate': '2014-08-16',
  'unitPrice': {'value': 80, 'currency': 'USD'},
  'net': {'value': 80, 'currency': 'USD'}}]
target_date = "2014-08-16"
new_unit_price_value = 85

for item in json_data:
    if "servicedDate" in item and item["servicedDate"] == target_date and "unitPrice" in item:
        item["unitPrice"]["value"] = new_unit_price_value

# Print the updated JSON data
print(json.dumps(json_data, indent=2))

[
  {
    "sequence": 1,
    "careTeamSequence": [
      1
    ],
    "productOrService": {
      "coding": [
        {
          "system": "http://example.org/fhir/CodeSystem/ex-visionservice",
          "code": "exam"
        }
      ]
    },
    "servicedDate": "2014-08-16",
    "unitPrice": {
      "value": 85,
      "currency": "USD"
    },
    "net": {
      "value": 80,
      "currency": "USD"
    }
  }
]

************************************************ SECTION: E ends *******************************************

************************************************ SECTION: F starts *******************************************

**PROBLEM 16**: Write a code to process input to produce output as below
<br>
input = ['Apple', 'Mango']
<br>
new element introduced: Gauva
<br>
ouput = ['Apple', 'Mango','G','a','u','v','a']

In [28]:
ip = ['Apple', 'Mango']
def func(ip):
    new_element="Gauva"
    atomic=list(new_element)
    ip=ip+atomic
    return ip
    
    
func(ip)

['Apple', 'Mango', 'G', 'a', 'u', 'v', 'a']

**PROBLEM 17**: Write a code to process inputs to produce output as below
<br>
input1 = ['1', '2', '3']
<br>
input2 = ['a', 'b', 'c']
<br>
input3 = range(5)
<br>
ouput = [(1, 'a', 0), (2, 'b', 1), (3, 'c', 2), ('?', '?', 3), ('?', '?', 4)]
<br>
<br>
Explanation:
Here we yield five tuples with elements from input1, input2, and input3. The iteration only stops when input3 is exhausted. The missing elements from input1 and input2 are filled with a question mark ?, which is what you specified with fillvalue.

In [29]:
import itertools

input1 = ['1', '2', '3']
input2 = ['a', 'b', 'c']
input3 = range(5)
input1 = list(map(int,input1))
list(itertools.zip_longest(input1,input2,input3,fillvalue='?'))

[(1, 'a', 0), (2, 'b', 1), (3, 'c', 2), ('?', '?', 3), ('?', '?', 4)]

**PROBLEM 19**: Given a non-empty array of integers nums, every element appears twice except for one. Find that single one.
<br>
You must implement a solution with a linear runtime complexity and use only constant extra space.
<br>
<br>
Example 1:
<br>
Input: nums = [2,2,1]
<br>
Output: 1
<br>
<br>

Example 2:
<br>
Input: nums = [4,1,2,1,2]
<br>
Output: 4
<br>
<br>

Example 3:
<br>
Input: nums = [1]
<br>
Output: 1
<br>
<br>

Constraints:

    1 <= nums.length <= 3 * pow(10,4)
    
    -3 * pow(10,4) <= nums[i] <= 3 * pow(10,4)
    
    Each element in the array appears twice except for one element which appears only once.

In [31]:
nums2 = [4, 1, 2, 1, 2]

def unique(nums2):
    temp = 0
    for i in nums2:
        temp = temp ^ i
    return temp

print(unique(nums2))

4

**PROBLEM 20**:

![image.png]()

<br>
id is the primary key (column with unique values) for this table.
Each row of this table indicates the ID and name of a customer.
<br>
<br>

![image.png]()

<br>
id is the primary key (column with unique values) for this table.
customerId is a foreign key (reference columns) of the ID from the Customers table.
Each row of this table indicates the ID of an order and the ID of the customer who ordered it.
<br>
<br>
Write a solution to find all customers who never order anything.
<br>
Return the result table in any order.

In [32]:
#lets say:

data = [[1, 'A'], [2, 'B'], [4, 'C'], [5, 'D'], [6, 'E'], [7, 'F'], [8, 'G']]
visits = pd.DataFrame(data, columns=['visit_id', 'customer_name']).astype({'visit_id':'Int64', 'customer_name':'str'})
data = [[2, 5], [3, 5], [9, 5], [12, 1], [13, 2]]
transactions = pd.DataFrame(data, columns=['transaction_id', 'visit_id']).astype({'transaction_id':'Int64', 'visit_id':'Int64'})

not_ordered=set(visits.visit_id).difference(transactions.visit_id)
visits[visits.visit_id.apply(lambda x: x in not_ordered)].customer_name.reset_index(drop=True)

0    C
1    E
2    F
3    G
Name: customer_name, dtype: object

********************************************* Test ends here **************************************************