In [1]:
''' 1. get mapping of symbols
2. do the arithematict and convertion
3. create modes and do the switching '''

' 1. get mapping of symbols\n2. do the arithematict and convertion\n3. create modes and do the switching '

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
number=pd.DataFrame(lambda num: i for i in range(0,26))

In [5]:
lowercase_alphabet = []
for i in range(97, 123):
    lowercase_alphabet.append(chr(i))
print(lowercase_alphabet)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [6]:
uppercase_alphabet = []
for i in range(65, 91):
    uppercase_alphabet.append(chr(i))
print(uppercase_alphabet)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [7]:
number[0]=lowercase_alphabet

In [8]:
number.index

RangeIndex(start=0, stop=26, step=1)

In [9]:
# number.index = np.arange(1, len(df) + 1)

In [10]:
# for i in number.index:
#     number.index[i]+=1

In [11]:
number[1]=uppercase_alphabet

In [12]:
number.columns

RangeIndex(start=0, stop=2, step=1)

In [13]:
chr(65)

'A'

In [14]:
chr(90)

'Z'

In [15]:
number

    0  1
0   a  A
1   b  B
2   c  C
3   d  D
4   e  E
5   f  F
6   g  G
7   h  H
8   i  I
9   j  J
10  k  K
11  l  L
12  m  M
13  n  N
14  o  O
15  p  P
16  q  Q
17  r  R
18  s  S
19  t  T
20  u  U
21  v  V
22  w  W
23  x  X
24  y  Y
25  z  Z

In [16]:
number.columns=["LOWERCASE","UPPERCASE"]

In [17]:
number  #here the index is starting from 0. i have fixed that down for correct mapping.

   LOWERCASE UPPERCASE
0          a         A
1          b         B
2          c         C
3          d         D
4          e         E
5          f         F
6          g         G
7          h         H
8          i         I
9          j         J
10         k         K
11         l         L
12         m         M
13         n         N
14         o         O
15         p         P
16         q         Q
17         r         R
18         s         S
19         t         T
20         u         U
21         v         V
22         w         W
23         x         X
24         y         Y
25         z         Z

In [18]:
ord('!')

33

In [19]:
chr(33)

'!'

In [20]:
PUNCTUATIONS={"1":"!",
 "2":"?",
 "3":",",
 "4":".",
 "5":" ",
 "6":";",
 "7":"\"",
 "8":"'"}

In [21]:
number.columns

Index(['LOWERCASE', 'UPPERCASE'], dtype='object')

In [22]:
Modes=[number.columns[0],number.columns[1],PUNCTUATIONS]

In [23]:
pd.DataFrame(Modes)

                                                   0
0                                          LOWERCASE
1                                          UPPERCASE
2  {'1': '!', '2': '?', '3': ',', '4': '.', '5': ...

In [24]:
Modes

['LOWERCASE',
 'UPPERCASE',
 {'1': '!',
  '2': '?',
  '3': ',',
  '4': '.',
  '5': ' ',
  '6': ';',
  '7': '"',
  '8': "'"}]

In [25]:
# pd.DataFrame(PUNCTUATIONS.values,index=PUNCTUATIONS.keys)

In [26]:
43985%27

2

In [27]:
input="18,12312,171,763,98423,1208,216,11,500,18,241,0,32,20620,27,10"

In [28]:
input

'18,12312,171,763,98423,1208,216,11,500,18,241,0,32,20620,27,10'

In [29]:
preprocess=input.split(",")

In [30]:
preprocess

['18',
 '12312',
 '171',
 '763',
 '98423',
 '1208',
 '216',
 '11',
 '500',
 '18',
 '241',
 '0',
 '32',
 '20620',
 '27',
 '10']

In [31]:
preprocess

['18',
 '12312',
 '171',
 '763',
 '98423',
 '1208',
 '216',
 '11',
 '500',
 '18',
 '241',
 '0',
 '32',
 '20620',
 '27',
 '10']

In [32]:
type_cast=[]
for i in preprocess:
    type_cast.append(int(i))

In [33]:
type_cast

[18, 12312, 171, 763, 98423, 1208, 216, 11, 500, 18, 241, 0, 32, 20620, 27, 10]

In [34]:
arithematic=[]
for i in type_cast:
    arithematic.append(i%27)

In [35]:
arithematic

[18, 0, 9, 7, 8, 20, 0, 11, 14, 18, 25, 0, 5, 19, 0, 10]

In [36]:
# mode='UPPERCASE'
# if mode='UPPERCASE':

In [37]:
171%27

9

In [38]:
171//27

6

In [39]:
function1=pd.DataFrame(arithematic)

In [40]:
function1

     0
0   18
1    0
2    9
3    7
4    8
5   20
6    0
7   11
8   14
9   18
10  25
11   0
12   5
13  19
14   0
15  10

In [41]:
number.columns[1]

'UPPERCASE'

In [42]:
function1["Mode"]=number.columns[1]

In [43]:
function1

     0       Mode
0   18  UPPERCASE
1    0  UPPERCASE
2    9  UPPERCASE
3    7  UPPERCASE
4    8  UPPERCASE
5   20  UPPERCASE
6    0  UPPERCASE
7   11  UPPERCASE
8   14  UPPERCASE
9   18  UPPERCASE
10  25  UPPERCASE
11   0  UPPERCASE
12   5  UPPERCASE
13  19  UPPERCASE
14   0  UPPERCASE
15  10  UPPERCASE

In [44]:

for i in range(len(function1.index)):
    if(function1[0][i]!=0):
        print(function1['Mode'][i])
    elif (function1['Mode'][i-1]==number.columns[1]):
        function1['Mode'][i]=number.columns[0]
        print(function1['Mode'][i])
    elif (function1['Mode'][i-1]==number.columns[0]):
        function1['Mode'][i-1]="PUNCTUATION"
        print(function1['Mode'][i])

UPPERCASE
LOWERCASE
UPPERCASE
UPPERCASE
UPPERCASE
UPPERCASE
LOWERCASE
UPPERCASE
UPPERCASE
UPPERCASE
UPPERCASE
LOWERCASE
UPPERCASE
UPPERCASE
LOWERCASE
UPPERCASE

C:\Users\bhava\AppData\Local\Temp\ipykernel_21740\1585301738.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  function1['Mode'][i]=number.columns[0]
C:\Users\bhava\AppData\Local\Temp\ipykernel_21740\1585301738.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  function1['Mode'][i]=number.columns[0]
C:\Users\bhava\AppData\Local\Temp\ipykernel_21740\1585301738.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  function1['Mode'][i]=number.columns[0]
C:\Users\bhava\AppData\Local\Temp\ipykernel_21740\1585301738.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  function1['Mode'][i]=number.columns[0]

In [45]:
type_cast

[18, 12312, 171, 763, 98423, 1208, 216, 11, 500, 18, 241, 0, 32, 20620, 27, 10]

In [46]:
type_cast

[18, 12312, 171, 763, 98423, 1208, 216, 11, 500, 18, 241, 0, 32, 20620, 27, 10]

In [47]:
# this snippet can be ignored, as it is doing nothing productive
Mode="Uppercase"
for i in type_cast:
    print(i%27)
    if i%27==0:
        Mode="Lowercase"
        print(i%27)
        if i%27==0:
            Mode="Punctuation"
            print(i%9)

18
0
0
0
9
7
8
20
0
0
0
11
14
18
25
0
0
0
5
19
0
0
0
10

In [48]:
def switch_case(argument):
    switcher = {
        0: "Zero",
        1: "One",
        2: "Two",
    }
    return switcher.get(argument, "Invalid input")

print(switch_case(1))

One

In [49]:
# this snippet can be ignored, as it is doing nothing productive
for i in type_cast:
    while(i%27!=0):
        mode="uppercase"
        print(mode)
        break;
    mode="lowercase"
    while(i%27!=0):
        print(mode)
        break;
    mode="punctuation"
    while(i%9!=0):
        print(mode)
        break;

uppercase
lowercase
uppercase
lowercase
uppercase
lowercase
punctuation
uppercase
lowercase
punctuation
uppercase
lowercase
punctuation
uppercase
lowercase
punctuation
uppercase
lowercase
punctuation
uppercase
lowercase
uppercase
lowercase
punctuation
uppercase
lowercase
punctuation
uppercase
lowercase
punctuation
uppercase
lowercase
punctuation

In [50]:
def switch_case(argument):
    switcher = {
        "uppercase": uppercase(),
        "lowercase": lowercase(),
        "punctuation": punctuation(),
    }
    return switcher.get(argument, "Invalid input")

#print(switch_case(mode))

In [51]:
# for i in type_cast:
#     print(switch_case(mode))

In [52]:
def switch_case(argument):
    switcher = {
        0: "Zero",
        1: "One",
        2: "Two",
    }
    return switcher.get(argument, "Invalid input")

print(switch_case(1))

One

In [53]:
number.index=range(1,len(number)+1)

In [54]:
type_cast

[18, 12312, 171, 763, 98423, 1208, 216, 11, 500, 18, 241, 0, 32, 20620, 27, 10]

In [55]:
modeType= ["UPPERCASE", "LOWERCASE", "PUNCTUATION"]

In [56]:
mode1= modeType[0]

In [57]:
mode2= modeType[1]

In [58]:
mode3= modeType[2]

In [59]:
mode=modeType[0]

In [60]:
PUNCTUATIONS

{'1': '!',
 '2': '?',
 '3': ',',
 '4': '.',
 '5': ' ',
 '6': ';',
 '7': '"',
 '8': "'"}

In [63]:
def get_value_upper(i):
    num=type_cast[i]%27
    if (num==0):
        mode=mode2
        return mode
    return number[number.index==num][mode1][num]

def get_value_lower(i):
    num=type_cast[i]%27
    if (num==0):
        mode=mode3
        return mode
    return number[number.index==num][mode2][num]

def get_pun(i):
    num=type_cast[i]%9
    if (num==0):
        mode=mode1
        return mode
    return PUNCTUATIONS[str(num)]

def switch_case(argument,i):
    
        
    switcher = {
        "UPPERCASE": get_value_upper(i),
        "LOWERCASE": get_value_lower(i),
        "PUNCTUATION": get_pun(i),
    }

    return switcher.get(argument, "Invalid input")


for i in range(16):
    if switch_case(mode,i) not in modeType:
        print(switch_case(mode,i))

    if (switch_case(mode,i) in modeType):
        mode=switch_case(mode,i)

R
i
g
h
t
?

Y
e
s
!

In [62]:
mode=modeType[0] #reset