In [1]:
import random as radm
import pandas as pd

In [2]:
def arb():
    return radm.randint(1,10)

In [3]:
container=[]
for i in range(1,10):
    for j in range(arb()):
        container.append(i*j)

In [4]:
container

[0,
 1,
 2,
 0,
 0,
 3,
 0,
 4,
 8,
 12,
 16,
 0,
 5,
 10,
 0,
 6,
 12,
 18,
 0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 0,
 8,
 16,
 24,
 32,
 40,
 0,
 9,
 18,
 27,
 36,
 45]

In [5]:
container=sorted(container)

In [6]:
pd.DataFrame(container)

     0
0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    1
10   2
11   3
12   4
13   5
14   6
15   7
16   8
17   8
18   9
19  10
20  12
21  12
22  14
23  16
24  16
25  18
26  18
27  21
28  24
29  27
30  28
31  32
32  35
33  36
34  40
35  42
36  45
37  49
38  56

In [7]:
# pd.DataFrame(container)["iter"]=

In [10]:
container

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 8,
 9,
 10,
 12,
 12,
 14,
 16,
 16,
 18,
 18,
 21,
 24,
 27,
 28,
 32,
 35,
 36,
 40,
 42,
 45,
 49,
 56]

# Method 1

In [11]:
count=0
for i in range(j,len(container)-1):
    def countf():
        if(container[i]==container[i+1]):
            print(i,container[i])
            count+=1
        else:
            countf(i)
print(count)

0

In [13]:
current_count=0
highest_count=0

In [14]:
for i in range(len(container)-1):
    current_count+=1
    if(container[i]!=container[i+1]):
        if (current_count>highest_count):
            highest_count=current_count
            most_freq=container[i]
        current_count=0

In [69]:
most_freq

0

In [15]:
highest_count

9

# Method 2

In [58]:
frequency_table={}
for i in container:
    if i in frequency_table:
        frequency_table[i]+=1
    else:
        frequency_table[i]=1

In [59]:
frequency_table

{0: 9,
 1: 1,
 2: 1,
 3: 1,
 4: 1,
 5: 1,
 6: 1,
 7: 1,
 8: 2,
 9: 1,
 10: 1,
 12: 2,
 14: 1,
 16: 2,
 18: 2,
 21: 1,
 24: 1,
 27: 1,
 28: 1,
 32: 1,
 35: 1,
 36: 1,
 40: 1,
 42: 1,
 45: 1,
 49: 1,
 56: 1}

<!--  Method 3 -->

#  Method 3

In [68]:
import statistics as stats
stats.mode(container)

0